@charset "UTF-8";

@import 'vendor/normalize';
@import 'vendor/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

h1 {
  color: white;
  /* font-weight: 800; */
  word-spacing: 12px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.body {
  background-color: #14161c;
  width: 100vw;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 20px;
  padding-left: 50px;
}

.filter {

  background-color: #1e242f;
  color: white;
  padding: 20px;
  font-family: 'Roboto', sans-serif;

  h3 {
    color: white;
    font-size: 15px;
  }

  p {
    cursor: pointer;
    color: white;
    font-size: 11px;
    padding-left: 20px;
    margin-bottom: 7px;
  }

  .categories {}

  .pricefilter {
    .MuiSlider-root {
      color: #f8f9fa;
    }

    .PrivateValueLabel-offset-23 {
      color: #14161c;
    }

    p {
      text-align: center;
    }

    .line {
      margin: 0 5px 0 5px;
      color: grey;
      font-weight: 900;
      font-size: 15px;
      padding: 0;
    }

    // .container {}
  }

  .storage {

    h4 {
      font-size: 13px;
      display: inline;
      margin-left: 10px;
    }

    .form-control {
      display: inline;
    }
  }
}
.card {
  background-color: #1e242f;
  color: white;
  padding: 20px;
  font-family: 'Roboto', sans-serif;

  .img {
    height: auto; 
    img {
      width: 100%;
    }
  }

  .description {
    h4 {
      font-size: 18px;
    }
    p{
      cursor: pointer;
      color: #929eaa;
      font-size: 13px; 
      margin-bottom: 5px;
    }
    h3{
      letter-spacing: 1.5px;
      font-size: 25px;
      margin-bottom: 0px;
    }
  }
  .condition {
    width: 100%;
    span {
      float: right;
      font-size: 13px;
      text-align: center;
      color: white;
      display: block;
      width: 45px;
      height: 21px;
      border-radius: 2px;
      border: 1px solid grey;
    }
  }
}
